.page {
  width: 100%;
  padding: 100px 0;
  display: flex;
}

.login-section {
  width: 50%;
  padding: 10%;
  color: var(--primary-black);
}

.forgot-password-section {
  width: min(100vw, 500px);
  padding: 150px 15%;
  color: var(--primary-black);
  .forgot-password-section-bottom {
    justify-content: flex-end;
  }
  .forgot-password-section-children {
    height: auto;
    min-height: auto;
  }
}

.register-section {
  width: min(100vw, 800px);
  padding: 100px 8%;
  color: var(--primary-black);
  .register-section-subtitle {
    margin-bottom: 40px;
  }
  .register-section-bottom {
    margin-top: 50px;
    justify-content: center;
  }
  .register-section-children {
    height: auto;
    min-height: auto;
  }
}

.vertical-line {
  border: 1px solid lightgray;
  width: 0px;
  height: 200px;
  align-self: center;
}

.login-section-right {
  padding-right: 5%;
}

.signup-description {
  font-size: 0.95rem;
}

@media only screen and (max-width: 1024px) {
  .page {
    flex-direction: column;
    align-items: center;
  }
  .login-section {
    width: 100%;
  }
  .vertical-line {
    border: 1px solid lightgray;
    width: 60%;
    height: 0pc;
    align-self: center;
  }
}
