.section-title {
  color: var(--primary-black);
  text-decoration: underline;
  font-size: 1.5em;
}

.section-subtitle {
  color: var(--primary-black);
}

.section-button {
  background-color: var(--primary-black);
  border: none;
  color: white;
  padding: 10px;
}
