.heading-container {
  text-align: center;
  width: min(850px, 100%);
  margin: 3rem auto;
}

.left-side-form {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.left-side,
.right-side {
  padding: 0 1.5rem;
}

.input-row {
  --bs-gutter-x: 1rem;
}
.input-container {
  input {
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 0;
    border: 1px solid var(--lightMedGray);
    &:focus {
      outline: none;
      border: 1px solid var(--lightMedGray);
      border-bottom: 2px solid var(--mediumGray);
      box-shadow: none;
    }
  }
  label {
    padding: 1rem 1.75rem;
    color: var(--mediumGray);
    text-transform: uppercase;
    // display: flex;
    // align-items: center;
  }
}

.coupon-input {
  padding: 0.25rem 1rem;
  input {
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 0;
    border: 1px solid var(--darkGray);
    &:focus {
      outline: none;
      border: 1px solid var(--darkGray);
      box-shadow: none;
    }
  }
  width: 70%;
  margin-bottom: 0 !important;
  label {
    padding: 1.375rem 1.75rem;
    color: var(--darkGray);
    text-transform: uppercase;
  }
}
.read-manual {
  padding: 0 1rem;
  font-size: 0.875rem;
  color: var(--mediumGray);
}
.text-area-container {
  margin-bottom: 2rem;
  textarea {
    border-color: var(--lightMedGray);
    resize: none;
    width: 100%;
    padding: 1rem 1rem;
    &:focus {
      outline: none;
      border: 1px solid var(--lightMedGray);
      border-bottom: 2px solid var(--mediumGray);
      box-shadow: none;
    }
  }
}
.products {
  max-height: 450px;
  overflow: auto;
  margin-bottom: 3rem;
  --bs-gutter-x: 1rem;
}
.right-side-item-container {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  background-color: var(--lightGray);
  padding: 1rem 1rem 2rem 1rem;
}
.underlined {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.radio-container {
  padding-left: 1rem;
  label {
    padding-left: 1rem;
  }
  input {
    accent-color: transparent;
    position: relative;

    &:checked::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
        height: 13px;
        background-color: var(--primary-black);
        border-radius: 100%;
    }
  }
}
.coupon-button {
  text-transform: uppercase;
  margin-left: auto;
  max-width: 400px;
  padding: 0.5rem 2rem;
  color: var(--primary-white);
  border: none;
  background-color: var(--primary-black);
}

.value-label {
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--primary-white);
  span {
    margin-left: auto;
  }
  &:last-child {
    border-bottom: unset;
    text-transform: uppercase;
  }
}

.end-button {
  width: 100%;
  margin-top: 0rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: var(--primary-white);
  border: none;
  background-color: var(--primary-black);
  margin-bottom: 0.3rem;
}

.agree {
  input[type='checkbox'] {
    accent-color: var(--primary-black);
  }
  label {
    padding-left: 1rem;
  }
  margin-bottom: 1rem;
}

.errorMsg {
  color: var(--red-color);
  font-size: 0.8rem;
}

.delete {
  margin: 0 0 auto auto;
  cursor: pointer;
}

.continueShopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-transform: uppercase;
    background-color: var(--primary-black);
    padding: 0.7rem 1.5rem;
    color: var(--primary-white);
  }
  h3 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 575.98px) {
  .input-container {
    label {
      font-size: 0.875rem !important;
      padding: 1.375rem 1rem;
    }
  }
  .coupon-input {
    width: 100%;
  }
  .coupon-button {
    margin: unset;
  }
  .left-side,
  .right-side {
    padding: 0;
  }
}
