.footerContainer {
  margin-top: 150px;
  .footerTop {
    width: min(1150px, 95%);
    margin-inline: auto;
    position: relative;
    padding: 2rem 1rem;
    &::before {
      width: 100%;
      content: "";
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--primary-black);
    }
  }
}
.logoContainer {
  margin-bottom: 2rem;
  display: block;
}
.footerInfo {
  span {
    font-size: 0.9375rem;
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    &:first-child {
      padding-left: 0;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      height: 60%;
      width: 1px;
      background-color: var(--primary-black);
    }
  }
}
.footerTopLeft {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: var(--primary-black);
  }
}
.footerTopRight {
  display: flex;
  justify-content: flex-end;
}

.newsletter {
  h2 {
    margin-bottom: 1.5rem;
  }
  span {
    margin-bottom: 1.5rem;
    display: block;
    font-size: 0.9375rem;
  }
}
.newsletterInputContainer {
  height: 45px;
  button {
    background-color: var(--primary-black);
    color: var(--white);
    border: none;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.125rem;
    font-weight: 500;
  }
  border: 1px solid var(--primary-black);
  input {
    // height: 100%;
    width: 320px;
    padding: 0 1rem;
    border: none;
  }
}
.newsletterCheckbox {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  label {
    margin-inline-start: 1.5rem;
  }
  input {
    accent-color: var(--primary-black);
  }
}
.socials {
  margin-top: 1.5rem;
  height: 35px;
  img {
    height: 100%;
    margin-inline-end: 3rem;
    filter: brightness(0) saturate(100%) invert(16%) sepia(9%) saturate(934%)
      hue-rotate(322deg) brightness(95%) contrast(91%);
  }
}

.footerMiddle {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 5px;
  ul {
    display: flex;
    width: fit-content;
    margin-inline: auto;
    li {
      a {
        display: block;
        padding: 0.5rem 1rem;
        color: var(--primary-white);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footerBanks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin: 40px;
  gap: 15px;
  img {
    height: 100%;
  }
}

.footerBottom {
  p {
    text-align: center;
    padding: 0 2rem;
    font-size: 0.8rem;
    margin: 3rem 0;
    font-weight: 300;
    padding: 0 7rem;
    line-height: 2ch;
  }
}

.footerCopyright {
  font-weight: 300;
  margin-inline: auto;
  width: fit-content;
  a {
    font-weight: 400;
    color: var(--primary-black);
    &:hover {
      text-decoration: underline;
    }
  }
}
