@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;350;400;450;500;550;600;650;700;800&display=swap");
@import "/styles/HamburgerNav.scss";
@import "~slick-carousel/slick/slick.css";            
@import "~slick-carousel/slick/slick-theme.css";
@import "./ProductDetailsSlider.scss";
html,
body {
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  color: var(--primary-black);
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
input {
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /*     CUSTOMIZE      */
  // primary
  --primary-white: #FFFFFF;
  --primary-gray: #776e64;
  --primary-black: #382e2c;
  // secondary
  --sec1: #f5f5dc;
  --sec2: #eeeee0;
  --sec3: #eee8c5;
  --sec4: #eddd9e;
  /*   COMMON COLORS    */
  --alertRed: #f34f5d;
  --alertGreen: #31b931;
  --scrollColor: #cfcfcf;
  --black: #030303;
  --white: #fff;
  --lightGray: #f2f2f2;
  --lightMedGray: #d4d4d4;
  --mediumGray: #747579;
  --darkGray: #333;
  --darkBlue: #015c93;
  --lightBlue: #0073b6;
  --darkGreen: #008548;
  --lightGreen: #00a65a;
  --darkRed: #b13b2d;
  --lightRed: #dd4c39;
  --darkYellow: #bb950c;
  --lightYellow: #ffcb06;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/*---------------- COMMON STYLES START -----------------*/

.mapContainer {
  width: 100%;
  height: 100%;
}
.homePageNone {
  @media (min-width: 1200px) {
    display: none;
  }
}
.d-none-lg {
  @media (max-width: 1199.98px) {
    display: none !important;
  }
}

/*----------------- COMMON STYLES END ------------------*/
