@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Roboto", "sans-serif";
  }
}
.slider .rs-slider-bar {
  background-color: var(--light-gray-color);
  border-radius: 3px;
  cursor: pointer;
  height: 5px;
}

.slider .rs-slider-progress-bar {
  left: 0%;
  width: 100%;
  background-color: #333262;
  border-radius: 3px 0 0 3px;
  height: 5px;
  position: absolute;
}
.rs-slider-handle {
  left: 0%;
  outline: none;
  position: absolute;
  top: -50%;
}
.rs-slider-handle:before {
  background-color: #fff;
  border: 1px solid #333262;
  border-radius: 50%;
  content: "";
  cursor: pointer;
  height: 12px;
  margin-left: -6px;
  position: absolute;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  width: 12px;
}
.rs-slider-progress-bar {
  background-color: #3498ff;
  border-radius: 3px 0 0 3px;
  height: 6px;
  position: absolute;
}
.rs-tooltip-arrow {
  display: none;
}
.hovered {
  display: none;
}
.hover:hover > .hovered {
  display: flex;
}
.clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  min-height: 16px;
}
