.bannerContainer {
  padding: 1.5rem 3rem;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background-color: var(--primary-black);
    height:1px;
    top: 0;
    width: 300px;
    left: -300px;
  }
  &::after {
    position: absolute;
    content: '';
    background-color: var(--primary-black);
    height:1px;
    bottom: 0;
    width: 300px;
    right: -300px;
  }
}
.bannerImgContainer {
  width: 100%;
  overflow: hidden;
  height: 700px;
  position:relative;
  img {
    width:100%;
    transform: scale(1.075) translateY(-110px);
  }
}
.bannerButtons {
  margin-inline-start: auto;
  width: fit-content;
  margin-inline-end: 0.25rem;
  button {
    border: none;
    background-color: transparent;
    padding: 1.5rem 0 1rem 2.25rem;
    margin-inline-start: 2rem;
    position:relative;
    font-size: 1.3125rem;
    font-weight: 300;
    &:hover {
      // &::after {
      //   content: '';
      //   position: absolute;
      //   height: 1px;
      //   width: 100%;
      //   left: 0;
      //   bottom: 0;
      //   background-color: var(--primary-black);
      text-decoration: underline;
      
    }
  }
}
.imgBannerContent {
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  flex-direction: column;
  align-items: center;
  bottom: 100px;
}
.imgBannerContentTop {
  font-size: 1.25rem;
  line-height: 1rem;
}
.imgBannerContentMiddle {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 600;
}
.imgBannerContentButton {
  border: none;
  background-color: var(--primary-black);
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
}